* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-image: url("https://i.pinimg.com/originals/dc/9b/08/dc9b08e13603b51b5255dbab6f96e2d6.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  height: 100vh;
  padding: 25px;
  display: grid;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
}

.search-box {
  width: 100%;
}

.search-box .search-bar {
  display: block;
  width: 75%;
  padding: 2%;
  margin: auto;
  appearance: none;
  background: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.1);
}

::placeholder {
  color: darkslategray;
  opacity: 1;
  font-size: 1rem;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
  outline: none;
}

.location-box .location {
  color: whitesmoke;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(55, 55, 55, 0.75);
  margin-top: 22px;
}

.location-box .date {
  color: whitesmoke;
  font-size: 1.75rem;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(55, 55, 0, 1);
  margin-top: 11px;
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 15px 25px;
  color: whitesmoke;
  font-size: 5rem;
  font-weight: 900;
  text-shadow: 3px 6px rgba(55, 55, 55, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .weather {
  color: whitesmoke;
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 3px 6px rgba(55, 55, 55, 0.5);
}
